# Editor directories and files
__pycache__/
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.so
files/*
.history/
!files/.gitkeep

# Backend
*.npy
*.npz
*.pyc
*.pyd
*.ipynb
.ipynb_checkpoints
learnware
learnware_pool/

# Frontend
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local