fire
joblib
lightgbm
matplotlib
numpy
pandas
psutil
PyYAML
requests
scikit_learn
scipy
setuptools
torch
torchtext
torchvision
torch-optimizer
tqdm
SQLAlchemy
psycopg2-binary
certifi
click
flask<3.0.0
flask-cors
flask-bcrypt
flask-jwt-extended
flask-markdown
sentence_transformers
flask-restx
importlib-metadata
itsdangerous
jinja2
markupsafe
setuptools
six
tk
werkzeug
wheel
zipp
shortuuid
pysocks
redis
fast_pytorch_kmeans
concurrent-log-handler
kubernetes
gunicorn