@forward "vuetify/settings" with (
  $utilities: false,
  $color-pack: false
);

@use "vuetify";

@tailwind base;

@layer base {
  *,
  ::before,
  ::after {
    @apply box-border border-0 border-solid border-gray-300 dark:border-gray-600;
  }
}

@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded bg-gray-100;
}

.dark ::-webkit-scrollbar-track {
  @apply bg-gray-600;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded bg-gray-400;
}

.dark ::-webkit-scrollbar-thumb {
  @apply bg-gray-400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}

.dark ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.h-main-full {
  height: calc(100vh - var(--v-layout-top)) !important;
}
