@forward "vuetify/settings" with (
  $utilities: false,
  $color-pack: false,
);

@use "vuetify";

@tailwind base;

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
  }
}

@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded bg-gray-100 dark:bg-gray-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded bg-gray-400 dark:bg-gray-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600 dark:bg-gray-400;
}

.h-main-full {
  height: calc(100vh - var(--v-layout-top)) !important;
}
